{{ ansible_managed | comment }}
---
version: 4
mqtt:
  # Required: MQTT server URL (use mqtts:// for SSL/TLS connection)
  server: {{ zigbee2mqtt_docker_mqtt_server }}
  # Optional: MQTT base topic for Zigbee2MQTT MQTT messages (default: zigbee2mqtt)
  base_topic: {{ zigbee2mqtt_docker_mqtt_base_topic }}
  # Optional: MQTT server authentication user (default: nothing)
  user: {{ zigbee2mqtt_docker_mqtt_username }}
  # Optional: MQTT server authentication password (default: nothing)
  password: {{ zigbee2mqtt_docker_mqtt_password }}
serial:
  port: {{ zigbee2mqtt_docker_serial_port }}
  adapter: {{ zigbee2mqtt_docker_serial_adapter }}
frontend:
  enabled: {{ zigbee2mqtt_docker_frontend_enabled | bool | lower }}
homeassistant:
  enabled: {{ zigbee2mqtt_docker_homeassistant_enabled | bool | lower }}
